<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        tools:targetApi="31">

        <activity
            android:name=".activity.LiveStreamRoomListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".activity.LiveStreamAnchorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".activity.LiveStreamAudienceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity android:name=".activity.AuthenticateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <service
            android:name=".service.KeepAliveService"
            android:foregroundServiceType="mediaProjection"/>
    </application>

</manifest>